<div class="mb-4">
  <h2>Account: <%= account.name %></h2>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Accounts", accounts_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to account.name, account %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= current_page %></li>
    </ol>
  </nav>
  
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
